<% if(typeof user === 'undefined') user = {} %>
<%- include("_header",{title:"Email validation"}) -%>

<h1>Successful validation</h1>

<h3>Your email was verified successfully !</h3>

<%- include("_footer") -%>